<div class="row mb-3">
    <div class="col-2">
        <app-button content="Back to List" type="button" (clicked)="goBack()"></app-button>
    </div>
    <div class="col-10"></div>
</div>
<div class="row mb-4">
    <div class="col-12">
        <div class="card shadow border-0 rounded-0">
            <div class="card-body">
                <div class="row">
                    <div class="col-1">
                        <div class="card border-0">
                            <img [src]="imageUrl" class="card-img">
                        </div>
                    </div>
                    <div class="col-8">
                        <h5 class="card-title">{{ symbol }}</h5>
                        <p class="card-text">{{ name }}</p>
                        <p class="card-text">Current price: {{ price | currency:'USD'}}</p>
                    </div>
                    <div class="col-3 d-flex justify-content-end">
                        <app-button *ngIf="addCurrency" content="Add to portfolio" type="button" (clicked)="handleAddCurrency()"></app-button>
                        <app-button *ngIf="removeCurrency" content="Remove from portfolio" type="button" (clicked)="handleRemoveCurrency()"></app-button>
                        <app-button *ngIf="redirectLogin" content="Login to add to portfolio" type="button" (clicked)="handleRedirectLogin()"></app-button>
                    </div>
                </div>
            </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card shadow border-0 rounded-0">
            <div class="card-header bg-info rounded-0">
                <ul class="nav nav-tabs card-header-tabs" *ngIf="render24Hour">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" (click)="setRender24Hour($event)">24 Hour</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" (click)="setRender30Day($event)">30 Day</a>
                    </li>
                </ul>
                <ul class="nav nav-tabs card-header-tabs" *ngIf="render30Day">
                    <li class="nav-item">
                        <a class="nav-link" href="#" (click)="setRender24Hour($event)">24 Hour</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#" (click)="setRender30Day($event)">30 Day</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <app-plot-home *ngIf="render24Hour" title="Price History - Last 24 Hours" [xArray]="x24Hour" [yArray]="y24Hour"></app-plot-home>
                <app-plot-home *ngIf="render30Day" title="Price History - Last 30 Days" [xArray]="x30Day" [yArray]="y30Day"></app-plot-home>
            </div>
        </div>
    </div>
</div>
