<div class="card shadow-sm rounded-0 border-0" (click)="onClick($event)">
    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <div class="row">
                    <div class="col-1">
                        <div class="card border-0">
                            <img [src]="imageUrl" class="card-img">
                        </div>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-3 preview-text-container">
                        <h4 class="m-0">{{ symbol }}</h4>
                    </div>
                    <div class="col-3 preview-text-container">
                        <p class="m-0">{{ name }}</p>
                    </div>
                    <div class="col-3 preview-text-container">
                        <p class="m-0">Current price: {{ price | currency:'USD'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>