<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card shadow rounded-0 border-0">
                <h5 class="card-header rounded-0 bg-info text-white text-center">
                    Register A New Account
                </h5>
                <div class="card-body">
                    <form>
                        <app-input label="Username" type="text" (typed)="setUsername($event)"></app-input>
                        <app-input label="Email" type="text" (typed)="setEmail($event)"></app-input>
                        <app-input label="Password" type="password" (typed)="setPassword($event)"></app-input>
                        <app-input label="Confirm Password" type="password" (typed)="setConfirmPassword($event)"></app-input>
                        <app-button content="Register" type="submit" (clicked)="register()"></app-button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>