<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card shadow border-0 rounded-0">
                <h5 class="card-header rounded-0 bg-info text-white text-center">
                    Login To Your Account
                </h5>
                <div class="card-body">
                    <form>
                        <app-input label="Username" type="text" (typed)="setUsername($event)"></app-input>
                        <app-input label="Password" type="password" (typed)="setPassword($event)"></app-input>
                        <app-button content="Login" type="submit" (clicked)="handleLogin()"></app-button>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>