<div class="row mb-4">
    <div class="col-12">
        <form>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="card shadow rounded-0 border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="card-title text-center">Click on a Currency to View Details!</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <app-input type="text" label="Find Currency By Symbol" (typed)="setFilterText($event)"></app-input>
                                </div>
                                <div class="col-2 button-container pb-3">
                                    <app-button type="submit" (clicked)="setFilteredCurrencies()" content="Search"></app-button>
                                </div>
                                <div class="col-2 button-container pb-3">
                                    <app-button type="button" (clicked)="resetCurrencySearch()" content="Reset"></app-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </form>
    </div>
</div>

<div class="row mb-3" *ngFor="let currency of filteredCurrencies">
    <div class="col-12">
        <app-currency-preview-home
        [name]="currency.CoinInfo.FullName" 
        [symbol]="currency.CoinInfo.Name" 
        [imageUrl]="'https://cryptocompare.com' + currency.CoinInfo.ImageUrl"
        [price]="currency.RAW.USD.PRICE"
        (clicked)="viewDetails($event)"
        >
        </app-currency-preview-home>
    </div>
</div>
